
<%page args="section_data" expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
from collections import OrderedDict
import re
import csv
import os
%>

<script>
function active(element) {
    var x = document.getElementById(element);
    if (x.style.color != 'green') {
        x.style.color = 'green';
    } else {
        x.style.color = 'inherit';
    };
};
function tableHide(elem) {
    var table = $(elem).find("table")
    if ($(table).is(":visible")) {
        $(table).css("display","none");
    };
};
$(document).ready(function() {
    $(".btn-month").hover(function() {
        $(this).children(".month_name").hide();
        $(this).children(".month_total").show();
    }, function() {
        $(this).children(".month_total").hide();
        $(this).children(".month_name").show();
    });
});
</script>

<%

# establish sorting lists
months = {'1': 'January', '2': 'February', '3': 'March', '4': 'April', '5': 'May', '6': 'June', '7': 'July',
          '8': 'August', '9': 'September', '10': 'October', '11': 'November', '12': 'December'}
month_sort = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
day_sort = ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

# establish variables/global dicts
yearly_enrollment = {}
filestore = '/home/ubuntu/analytics/reports/Enrollments/'
years = os.listdir(filestore)

course_id_number = section_data['course_id'].course


# read enrollments file & populate course-specific dict
def read_csv(file):
    enrollment_events = []
    course_enrollments = {}
    with open(file) as csv_file:
        readCSV = csv.reader(csv_file, delimiter='\t')
        try:
            for row in readCSV:
                if not (row):
                    continue
                if row[0] not in course_enrollments.keys():
                     course_enrollments[row[0]] = [row[1]]
                else:
                    course_enrollments[row[0]].append(row[1])
            if course_id_number in course_enrollments.keys():
                for v in course_enrollments[course_id_number]:
                    enrollment_events.append(v)
        except:
            pass
        return enrollment_events

# create & sort yearly/monthly enrollment lists
for y in years:
    yearly_enrollment[y] = {}
    path = str(filestore + y + "/")
    month = os.listdir(path)
    c = 0
    while c < len(month):
        monthly_list = read_csv(path+month[c])
        yearly_enrollment[y][month[c][:-4]] = monthly_list
        yearly_enrollment[y] = OrderedDict(sorted(yearly_enrollment[y].items(),key =lambda x:month_sort.index(x[0])))
        c += 1
%>

%if settings.FEATURES.get('DISPLAY_ANALYTICS_ENROLLMENTS') or section_data.get('enrollment_message'):
  <h4 class="hd hd-4">${_("Enrollment Information")}</h4>
  <div class="enrollment-wrapper">
    %if settings.FEATURES.get('DISPLAY_ANALYTICS_ENROLLMENTS'):
      <% modes = section_data['enrollment_count'] %>
        <table>
            <caption class="tip">${_("Number of enrollees (admins, staff, and students)")}</caption>
            <tr>
                <th scope="row">${_("Admin/Testing")}</th><td>${modes['audit']}</td>
            </tr>
            <tr>
                <th scope="row">${_("Students")}</th><td>${modes['professional'] + modes['no-id-professional']}</td>
            </tr>
            <tr style="border-top:1px solid #000">
                <th scope="row" style="padding-top:10px;">
                    <strong>${_("Total Paid Enrollments")}</strong>
                </th>
                <td style="padding-top:10px;">
                    <strong><span class="totals">${modes['no-id-professional']}</span></strong>
                </td>
            </tr>
        </table>
      %elif section_data.get('enrollment_message'):
        <p>${section_data['enrollment_message']}</p>
      %endif
    % if modes['no-id-professional'] >= 1:
      <div id="enrollment-breakdown">
        <hr />
        <h4 class="hd hd-4" style="margin-bottom:0;">Enrollment Breakdowns</h4>
        <p>By Year/Month</p>
        <br />
        % for i in years:
        <div class="year-wrapper" id="wrapper-${i}"> 
          <%
            month_totals = []
            month_set = []
            for v in yearly_enrollment[i].values():
                if v == 0:
                    pass
                else:
                    month_totals.append(len(v))
                    month_set.append(len(list(set(v))))
            year_totals = sum(month_totals)
            top_month = 1
            if len(month_totals) > 0:
              top_month = max(month_set)
            else:
              top_month = 0
          %>
          % if year_totals != 0:
            <button class="btn btn-year" id="btn-${i}" onclick="$('#${i}').slideToggle('fast');$('#total-${i}').toggle();tableHide('#${i}');">${i}</button>
            <button style="display:none;" class="btn-year year-total" id="total-${i}"><span class="totals">Total: ${year_totals}</span></button>
            <div style="display:none;" class="enrollment-data" id=${i}>
            % for k, v in yearly_enrollment[i].items():
              % if v:
                <%
                  monthlies = {}
                  dates = []
                  totes = []
                  for d in v:
                      if d not in monthlies.keys():
                          monthlies[d] = 1
                      else:
                          monthlies[d] +=1
                  for day in day_sort:
                      for date, number in monthlies.items():
                          if date[3:5] == day:
                              dates.append(date[:5])
                              totes.append(number)
                          else:
                              pass                   
                %>
                <div class="data-wrapper wrapper-${k}-${i}">   
                  <button class="btn btn-month" id="btn-${k}-${i}" onclick="$('#data-${k}-${i}').slideToggle('fast');"><span class="month_name">${k}</span><span class="month_total" style="display:none;">Total: <span style="color:green;font-weight:bold;">${len(v)}</span></span></button>
                  <table style="display:none;" id="data-${k}-${i}">
                  <% c = 1 %>
                  % while c <= len(dates):
                    <tr><td>${dates[c-1]}: &nbsp;<span class="totals">${totes[c-1]}</span></td></tr>
                    <% c +=1 %>
                  % endwhile
                  %  if len(dates) < top_month:
                    <% diff = top_month - len(dates) %>
                    <% c = 1 %>
                  % while c <= diff:
                    <tr><td> </tr></td>
                    <% c +=1 %>
                  % endwhile
                  % endif
                    <tr style="border-top:1px solid #000"><th>Total: &nbsp;<span class="totals">${len(v)}</span></th></tr>
                  </table>
                </div>
              % endif
            % endfor
          </div>
          % endif
        </div>
        % endfor
        <span class="note"><span class="fa fa-asterisk"></span> For more detailed Invoicing/Revenue Share information, see individual <strong>Monthly Invoices</strong> or Invoice Breakdowns on the <strong><a target="_blank" href="http://10.211.55.98:18010">Enstructor Dashboard</a></strong>.</span>  
      </div>
    % endif
  </div>
  <hr>
%endif

<div class="basic-wrapper">
  <h4 class="hd hd-4">${_("Basic Course Information")}</h4>

  <ul class="list-input">

    <li class="field text is-not-editable" id="field-course-number">
      <label for="course-number">${_("Course Number:")}</label>
      <b>${ section_data['course_id'].course}</b>
    </li>

    <li class="field text is-not-editable" id="field-course-display-name">
      <label for="course-display-name">${_("Course Name:")}</label>
      <b>${ section_data['course_display_name']}</b>
    </li>
  % if user.is_staff:
    <li class="field text is-not-editable" id="field-course-start-date">
      <label for="course-start-date">${_("Course Start Date:")}</label>
      <b class="localized-datetime" data-datetime="${section_data['start_date']}" data-timezone="${user_timezone}" data-language="${user_language}"></b>
    </li>

    <li class="field text is-not-editable" id="field-course-end-date">
      <label for="course-end-date">${_("Course End Date:")}</label>
        % if course.end is None:
            <b>${_("No end date set")}</b>
        % else:
            <b class="localized-datetime" data-datetime="${section_data['end_date']}" data-timezone="${user_timezone}" data-language="${user_language}"></b>
        % endif
    </li>
    <li class="field text is-not-editable" id="field-course-started">
      <label for="start-date">${_("Has the course started?")}</label>

      <b>${_("Yes") if section_data['has_started'] else _("No")}</b>

    </li>

    <li class="field text is-not-editable" id="field-course-ended">
      <label for="start-date">${_("Has the course ended?")}</label>
      %if section_data['has_ended']:
      <b>${_("Yes")}</b>
      %else:
      <b>${_("No")}</b>
      %endif
    </li>
  % endif
    <li class="field text is-not-editable" id="field-course-num-sections">
      <label for="course-num-sections">${_("Number of sections:")}</label>
      <b>${ section_data['num_sections'] }</b>
    </li>

    <li class="field text is-not-editable" id="field-grade-cutoffs">
      <label for="start-date">${_("Grade Cutoffs:")}</label>
      <b>${ section_data['grade_cutoffs'] }</b>
    </li>
  </ul>

  %if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD', ''):
      <p>
        ## Translators: git is a version-control system; see http://git-scm.com/about
        ${Text(_("View detailed Git import logs for this course {link_start}by clicking here{link_end}.")).format(
            link_start=HTML('<a href="{}">').format(section_data['detailed_gitlogs_url']),
            link_end=HTML('</a>')
        )}
      </p>
  %endif

</div>

%if settings.FEATURES.get('ENABLE_INSTRUCTOR_BACKGROUND_TASKS') and user.is_staff:
  <div class="running-tasks-container action-type-container">
    <hr>
    <h4 class="hd hd-4"> ${_("Pending Tasks")} </h4>
    <div class="running-tasks-section">
      <p>${_("The status for any active tasks appears in a table below.")} </p>
      <br />

      <div class="running-tasks-table" data-endpoint="${ section_data['list_instructor_tasks_url'] }"></div>
    </div>
    <div class="no-pending-tasks-message"></div>
  </div>

%endif

%if len(section_data['course_errors']):
  <div class="course-errors-wrapper">
    <hr>
    <p>
    <div class="toggle-wrapper">
      <h4 class="hd hd-4 title">${_("Course Warnings")}:</h4>
      <div class="triangle"></div>
    </div>
    <div class="course-errors-visibility-wrapper">
      %for error in section_data['course_errors']:
        <div class="course-error">
          <code class=course-error-first>  ${ error[0] } </code><br>
          <code class=course-error-second> ${ error[1] } </code>
        </div>
      %endfor
    </div>
    <p>
  </div>
<br>
%endif
