<%
from collections import OrderedDict
import csv

enst_file = "/home/ubuntu/enstructor_utils/enstructors.csv"
enst_pay_file = "/home/ubuntu/enstructor_utils/enstructor_paypal.csv"

opt_out_status = {0: "All Emails", 1: "Invoice Only", 2: "No Emails"}
enst_info = {}
enst_list = OrderedDict()
enst_pay_list = {}

with open(enst_pay_file) as csv_file:
    reader = csv.reader(csv_file, delimiter=",")
    for row in reader:
        if not (row):
            continue
        else:
            enst_pay_list[row[0]] = row[1]

with open(enst_file) as csv_file:
    reader = csv.DictReader(csv_file, delimiter="\t")
    for row in reader:
        id = int(row["id"])
        enst_list[id] = row
        enst_list[id]["opt_out"] = int(row["opt_out"])
        del enst_list[id]["id"]
        if id == user.id:
            enst_info["id"] = id
            enst_info["opt_out"] = int(row["opt_out"])
            enst_info["paypal"] = row["paypal"]
        else:
            continue

class CSV:
    def submit(self, dict):
        with open(enst_file, 'w') as csv_file:
            w = csv.writer(csv_file, delimiter='\t')
            w.writerow(["id"]+["username"]+["name"]+["email"]+["opt_out"]+["paypal"])
            for id, info in dict.items():
                w.writerow([id]+[info["username"]]+[info["name"]]+[info["email"]]+[info["opt_out"]]+[info["paypal"]])
    def append(self, dict):
        with open(enst_pay_file, 'w') as csv_file:
            w = csv.writer(csv_file, delimiter=',')
            for k, v in dict.items():
                w.writerow([k]+[v])

if "id" in request.GET.keys():
    id = int(request.GET["id"])
    csv_utils = CSV()
    try:
        opt_update = int(request.GET["Email"])
        enst_info["opt_out"] = opt_update
        enst_list[id]["opt_out"] = opt_update
    except:
        pass
    try:
        paypal_update = str(request.GET["PayPal"])
        name = enst_list[id]["name"]
        enst_list[id]["paypal"] = paypal_update
        enst_info["paypal"] = paypal_update
        if paypal_update != "null":
            enst_pay_list[name] = paypal_update
        else:
            try:
                del enst_pay_list[name]
            except:
                pass
        csv_utils.append(enst_pay_list)
    except:
        pass
    csv_utils.submit(enst_list)

%>

<div id="enstructor" class="enstructor-section account-settings-section-body">
  <h2 class="section-head">Enstructor Settings</h2>
  <div class="section">
    <div class="u-field">
      <div class="u-field-value u-field-text editable-always mode-edit">
        <label class="u-field-title field-label" for="Email">Enstructor Email Preference</label>
        <form class="subForm" id="email-form">
        <input type="hidden" name="id" value="${enst_info['id']}" />
        <input type="hidden" id="Email" name="Email" value="" />
        <select id="select">
          % for k,v in opt_out_status.items():
            <option>${v}</option>
          % endfor
        </select>
        <span class="icon-caret-down" aria-hidden="true"></span>
        </form>
      </div>
      <span class="u-field-message" id="u-field-message-email">
        <span class="u-field-message-notification" aria-live="polite"></span>
        <span class="u-field-message-help" id="u-field-message-help-name">Select which <u>Enstructor</u> Emails you wish to receive. <br/><span style="color:#222;">Note: If you select No Emails, make sure to contact us and let us know you want web-only access to your invoices.</span></span>
      </span>
    </div>
    <script>
      $("#select").prop('selectedIndex', ${enst_info["opt_out"]});
      $(document).ready(function() {
          $("#select").change(function() {
              $("#Email").val($(this).prop('selectedIndex'));
              $("#email-form").submit();
          });
      });
    </script>
    <div class="u-field">
      <div class="u-field-value u-field-text editable-always mode-edit">
        <label class="u-field-title field-label" for="PayPal">PayPal Email Address [Optional]</label>
        <form class="subForm" id="paypal-form">
        <input type="hidden" name="id" value="${enst_info['id']}" />
        <input id="paypal" class="field-input input-text" type="text" name="PayPal" value="" placeholder="${enst_info['paypal']}" required />
        % if enst_info['paypal'] != "null":
          <span class="fa fa-remove clear"></span>
        % else:
          <script>$("#paypal").attr("placeholder", "");</script>
        % endif
        </form>
      </div>
      <span class="u-field-message" id="u-field-message-paypal">
        <span class="u-field-message-notification" aria-live="polite"></span>
        <span class="u-field-message-help" id="u-field-message-help-name">If you wish to use a PayPal Account associated with an email <u>other than</u> your registration email for Enstructor <strong>Payments</strong>.</span>
      </span>
    </div>
    <script>
      $(document).ready(function() {
          $("#paypal").change(function() {
              $("#paypal-form").submit();
          });
          $(".clear").click(function() {
              $("#paypal").val("null");
              $("#paypal-form").submit();
          });
          var uri = window.location.toString();
          if (uri.indexOf("?") > 0) {
              var clean_uri = uri.substring(0, uri.indexOf("?"));
              window.history.replaceState({}, document.title, clean_uri);
          }
      });
    </script>
  </div>
</div>
