<%page expression_filter="h"/>
<%! 
from django.utils.translation import ugettext as _ 
from django.core.urlresolvers import reverse
%>
<%inherit file="../main.html" />

<%
  import csv
  from collections import OrderedDict

  enst_file = "/home/ubuntu/enstructor_utils/enstructors.csv"
  enst_pay_file = "/home/ubuntu/enstructor_utils/enstructor_paypal.csv"
  enst_list = OrderedDict()
  enst_pay_list = {}
  opt_out_status = {0: "All Emails", 1: "Invoice Only", 2: "No Emails"}
  unsub_messages = {0: "You are Subscribed to all Enstructor Emails", 1: "You are Unsubscribed from Supplementary Enstructor Emails, You will still receive Monthly Invoice Emails", 2: "You are Unsubscribed from all Enstructor Emails, if you do not have access to your Invoices on Google Drive, contact Enstructo Support"}

  class CSV:
      def submit(self, dict):
          with open(enst_file, 'w') as csv_file:
              w = csv.writer(csv_file, delimiter='\t')
              w.writerow(["id"]+["username"]+["name"]+["email"]+["opt_out"]+["paypal"])
              for id, info in dict.items():
                  w.writerow([id]+[info["username"]]+[info["name"]]+[info["email"]]+[info["opt_out"]]+[info["paypal"]])
      def append(self, dict):
          with open(enst_pay_file, 'w') as csv_file:
              w = csv.writer(csv_file, delimiter=',')
              for k, v in dict.items():
                  w.writerow([k]+[v])


  with open(enst_file) as csv_file:
      reader = csv.DictReader(csv_file, delimiter="\t")
      for row in reader:
          id = int(row["id"])
          enst_list[id] = row
          enst_list[id]["opt_out"] = int(row["opt_out"])
          del enst_list[id]["id"]

  with open(enst_pay_file) as csv_file:
      reader = csv.reader(csv_file, delimiter=",")
      for row in reader:
          if not (row):
              continue
          else:
              enst_pay_list[row[0]] = row[1]

  if request.method == "POST":
      csv_utils = CSV()
      enst_id = int(request.POST["enstructor_id"])
      try:
          opt_update = int(request.POST["update"])
          enst_list[enst_id]["opt_out"] = opt_update
      except:
          pass
      try:
          paypal_update = request.POST["paypal_update"]
          name = enst_list[enst_id]["name"]
          enst_list[enst_id]["paypal"] = paypal_update
          if paypal_update != "null":
              enst_pay_list[name] = paypal_update
          else:
              try:
                  del enst_pay_list[name]
              except:
                  pass
          csv_utils.append(enst_pay_list)
      except:
          pass
      csv_utils.submit(enst_list)
%>

<%block name="pagetitle">${_("Enstructors")}</%block>

<%block name="headextra">
  <style>
    *:not(input) {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }
    td,th {
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }
    .stealth-input:not(:focus):not(:hover) {
        box-shadow: none !important;
    }
    .stealth-input {
        display: inline-block;
        vertical-align: middle !important;
        border: none !important;
        background: transparent !important;
        height: 1rem !important;
        box-sizing: content-box !important;
        font: normal 400 1rem/1rem "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
        color: #222 !important;
    
    }
    .stealth-input::placeholder {
        color: #222;
    }
    .stealth-input:focus::placeholder {
        color: transparent !important;
        text-align: center !important;
    }
    .clear {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
    .clear:hover {
        color: #0079bc;
    }
  </style>
  <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
  </script>
</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container">
        % if 'unsubscribe' in request.GET.keys():
            <% 
              try:
                  submit_id = int(request.GET["user"])
                  opt_code = int(request.GET["unsubscribe"])
                  enstructor = enst_list[submit_id]
              except:
                  enstructor = False
              if enstructor:
                  if enstructor["opt_out"] == opt_code:
                      opt_out = "No Change: " + unsub_messages[opt_code]
                  else:
                      enst_list[submit_id]["opt_out"] = opt_code
                      csv_utils = CSV()
                      csv_utils.submit(enst_list)
                      opt_out = unsub_messages[opt_code]
            %>
            <div class="container about">
              % if enstructor:
                <h1 class="title">${opt_out}</h1>
                <h3 style="text-align:center;font-weight:300;">You can change your Enstructor Email Preferences in your <a style="color:#0079bc;" href="${reverse('account_settings')}#enstructor">Account Settings</a></h2>
              % else:
                <h3>Something Went Wrong</h3>
              % endif:
              <br/>
              <a class="btn" style="display:table;margin:20px auto 0;" href="/">Home</a>  
            </div>
        % elif user.is_staff:
            <h2 style="margin-bottom:15px;">Enstructor Admin</h2>
            <table style="width:100%;">
              <tr>
                <th>User Id</th>
                <th>Username</th>
                <th>Name</th>
                <th>Registration Email</th>
                <th>Email Preference</th>
                <th>PayPal Email</th>
              </tr>
              % for enst, info in enst_list.items():
                <tr>
                  <td>${enst}</td>
                  <td id="${enst}-username">${info["username"]}</td>
                  <td>${info["name"]}</td>
                  <td>${info["email"]}</td>
                  <td>
                    <form id="${enst}-email-form" method="post">
                      <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" />
                      <input type="hidden" name="init" value=${int(info["opt_out"])} />
                      <input class="id-holder" type="hidden" name="enstructor_id" value="${enst}" />
                      <input type="hidden" name="update" value="" />
                      <select id="${enst}">
                        %for k,v in opt_out_status.items():
                          <option>${v}</option>
                        %endfor
                      </select>
                      <script>
                        $("#${enst}").prop('selectedIndex', ${info["opt_out"]});
                      </script>
                    </form>  
                  </td>
                  <td>
                    <form id="${enst}-paypal-form" method="post">
                      <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" />
                      <input class="id-holder" type="hidden" name="enstructor_id" value="${enst}" />
                      <input class="stealth-input" type="text" name="paypal_update" value="" placeholder="${info['paypal']}" required />
                      % if info['paypal'] != "null":
                          <span class="fa fa-remove clear"></span>
                      % else:
                          <span style="display:inline-block;width:16px;"></span>
                      % endif
                    </form>
                  </td>
                </tr>
              % endfor
            </table>
        % else:
          <script>
            $( location ).attr("href", "/");
          </script>
        % endif
    </section>
    <script>
      $("select").change(function() {
          var id = $(this).siblings(".id-holder").val();
          var form = $("#"+id+"-email-form");
          var username = $("#"+id+"-username").html();
          form.find("input[name='update']").val($(this).prop('selectedIndex'));
          var confirm_dialog = confirm("Are You Sure?\nConfirm that you want to change "+username+"'s Email Preference");
          if (confirm_dialog) {
              form.submit();
          } else {
              $(this).prop('selectedIndex', form.find("input[name='init']").val());
              $(this).blur();
          }
      });
      $(".stealth-input").change(function() {
          var id = $(this).siblings(".id-holder").val();
          var form = $("#"+id+"-paypal-form");
          var username = $("#"+id+"-username").html();
          if ( $(this).val().length == 0 ) {
              $(this).val("null");
          }
          var confirm_dialog = confirm("Are You Sure?\nConfirm that you want to change "+username+"'s PayPal Email");
          if (confirm_dialog) {
              form.submit();
          } else {
              $(this).val("")
              $(this).blur();
          }
      });
      $(".clear").click(function() {
          var id = $(this).siblings(".id-holder").val();
          var form = $("#"+id+"-paypal-form");
          var username = $("#"+id+"-username").html();
          var confirm_dialog = confirm("Are You Sure?\nConfirm that you want to remove "+username+"'s PayPal Email");
          if (confirm_dialog) {
              $(this).siblings(".stealth-input").val("null");
              form.submit();
          }
      });
    </script>
</main>
