//Color & Image Variables
$off-white: rgb(252,252,252);
$light-gray: rgb(245,245,245);
$mid-gray: rgb(230,230,230);
$text-gray: rgb(118,118,118);
$border-gray: rgb(200,200,200);
$base-gray: rgb(0,18,28);
//$base-gray: rgb(40,40,40);
$header-gray: rgb(100,100,100);
$slate: rgb(0,60,94);
$dark-slate: rgb(0,36,56);
$light-slate: rgb(229,232,234);

//Variable Overrides
$header-bg: $off-white;
$footer-bg: $light-slate;
$homepage-bg-image: $off-white;           //top banner image
$course-header-bg: $off-white;
$homepage-bg: $off-white;
$container-bg: $off-white;
$base-font-color: $base-gray;       //course top section
$text-color: $base-font-color;
$link-color: $base-font-color;
$link-hover: rgb(0,121,188);
$content-wrapper-bg: $off-white;         //landing page wrapper
$body-bg: $light-gray;             //base background (extends footer)
$course-bg-color: $off-white;
$button-bg-image: none;
$button-bg-color: $link-hover;
$button-hover-color: $off-white;

//Theme-Specific Variables
$light-text: $off-white;
$dark-text: $base-font-color;
$hover-blue: $link-hover;
$text-tint: tint($base-font-color, 75%);
$text-shade: shade($base-font-color, 25%);
$border: 1px solid $border-gray;
$default-font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

//Mixins
@mixin noselect {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

@mixin trans-stand {
    transition-duration: 0.25s, 0.25s, 0.25s
}

//Cross-Browser Box Shadow(s)
@mixin all-shadows($h-off,$v-off,$blur,$spread,$color) {
    -moz-box-shadow: $h-off $v-off $blur $spread $color;
    -webkit-box-shadow: $h-off $v-off $blur $spread $color;
    box-shadow: $h-off $v-off $blur $spread $color;
}
$default: (0,1px,5px,0,rgba(0,0,0,0.1));
@mixin no-shadow {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

@mixin btn($bColor,$tColor,$vert,$hor) {
    @include no-shadow;
    border: 1px solid $hover-blue !important;
    border-radius: 3px !important;
    padding: $vert $hor !important;
    background: $bColor !important;
    color: $tColor !important;
    text-shadow: none !important;
    text-decoration: none;
    @include noselect;
    @include trans-stand;
    &:hover {
        background: $tColor !important;
        color: $bColor !important;
        text-decoration: none !important;
    }
}
$full: (bColor:$button-bg-color,tColor:$off-white,vert:7px,hor:10px);
$slim: (bColor:$button-bg-color,tColor:$off-white,vert:3px,hor:5px);
$inv: (bColor:$off-white,tColor:$hover-blue,vert:7px,hor:10px);
$inv-slim: (bColor:$off-white,tColor:$hover-blue,vert:3px,hor:5px);


//Global Overrides
body {
    min-width: 320px !important;
}
section.content,
div.content,
header.mast {
    min-width: 0 !important;
}

*:focus {
    outline: none;
}

a {
    color: $hover-blue;
    text-decoration: none;
    &:hover {
        color: inherit;
    }
}

.btn {
    @include btn($full...);
}
.btn-inv {
    @include btn($inv...);
}
.btn-slim {
    @include btn($slim...);
}
.btn-inv-slim {
    @include btn($inv-slim...);
}

div.closed-captions.is-visible { //Hacky fix for annoying caption message
    display: none;
}

.action-publish {
    @include btn($full...);
}

//////////////////////////////////////////////

//Header Overrides
.title.is-selected .icon {
    transform: scaleY(-1) !important;
    @include trans-stand;
}

.wrapper-header {
    header.primary {
        min-width: 200px !important;
        .title.is-selected,
        .title:hover,
        .nav-item:hover,
        .nav-item.is-current {
            color: $hover-blue !important;
        }
        div.wrapper-l {
            width: 40px;
            .nav-sub {
                margin-top: 2.5px;
                padding: 7px 10px;
                text-align: center;
            }
            nav.nav-course {
                li.nav-course-courseware .nav-sub {
                    margin-left: -9.5%;
                    width: 125px;
                }
                li.nav-course-settings .nav-sub {
                    margin-left: -18.5%;
                    width: 165px;
                }
                li.nav-course-tools .nav-sub {
                    margin-left: -2.5%;
                    width: 85px;
                }
                @media screen and (max-width: 900px) {
                    h3.title {
                        padding: 3px;
                    }
                }
            }
        }
        div.wrapper-r {
            width: calc(100% - 40px);
            height: 70px;
            nav.nav-account {
                margin-top: 22.5px;
                padding: 0;
                li.nav-account-user {
                    h3.title {
                        display: inline;
                        width: auto;
                        min-width: 150px;
                        text-align: right;
                        @include noselect;
                        &:hover,
                        &:focus,
                        &:active,
                        &.is-selected {
                            box-shadow: none !important;
                            border-color: white !important;
                        }
                        &:hover {
                            color: $hover-blue;
                        }
                        span.label {
                            span.account-username {
                                margin-right: 15px;
                            }
                        }
                        span.icon {
                            opacity: 1 !important;
                        }
                    }
                    .wrapper-nav-sub {
                        margin-top: -9px;
                        .nav-sub {
                            margin-left: 15%;
                        }
                    }
                }
            }
        }
        .nav-sub {
            border: none;
            border-radius: 0 0 2px 2px;
            &:after,
            &:before {
                display: none;
            }
            a:hover {
                color: $hover-blue !important;
            }
        }
    }
}

//////////////////////////////////////////////

//Footer Overrides

div.wrapper-footer {
    margin-top: 45px;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
    border-top: 1px solid #c5c6c7;
    footer {
        min-width: 200px !important;
    }
}

//////////////////////////////////////////////


//Homepage Overrides

body.view-dashboard {
    min-width: 320px;
    #main {
        #content {
            div.wrapper-mast {
                header {
                    min-width: 200px;
                    h1.page-header {
                        width: 75%;
                    }
                    nav.nav-actions {
                        width: 22.87234%;
                        .new-course-button {
                            margin-right: 10px;
                            padding: 7px 10px;
                        }
                    }
                    @media screen and (max-width: 600px) {
                        h1.page-header {
                            width: 100%;
                            margin: 0;
                            text-align: center;
                            @media screen and (max-width: 450px) {
                                font-size: 1.7em;
                            }
                        }
                        nav.nav-actions {
                            width: 100%;
                            margin-bottom: 1.5em;
                            text-align: center;
                            .new-course-button {
                                margin: auto;
                            }
                        }
                    }
                }
            }
            div.wrapper-content {
                box-sizing: border-box;
                article.content-primary {
                    @media screen and (min-width: 769px) {
                        width: calc(100% - 300px - 1.5em);
                        margin-right: 1.5em;
                    }
                    @media screen and (max-width: 768px) {
                        width: calc(100% - 3em);
                        margin: 0 1.5em;
                        float: none;
                        @media screen and (max-width: 450px) {
                            width: 100%;
                            margin: auto;
                        }
                    }
                    #react-course-listing {
                        li.course-item {
                            a.course-link {
                                width: 50%;
                            }
                            ul.course-actions {
                                width: 47.87234%;
                                .action-rerun {
                                    margin-right: 7px; 
                                    a {
                                        @include btn($inv-slim...);
                                    }
                                }
                                .action-view a {
                                    @include btn($slim...);
                                }
                                &:hover {
                                    background: $off-white;
                                }
                            }
                            @media screen and (max-width: 600px) {
                                a.course-link {
                                    width: 100%;
                                    margin: 0;
                                    h3.course-title {
                                        margin-right: 0;
                                    }
                                }
                                ul.course-actions {
                                    width: 100%;
                                    margin-top: 0.6em;
                                }
                                @media screen and (max-width: 450px) {
                                    a.course-link {
                                        text-align: center;
                                    }
                                    ul.course-actions {
                                        text-align: center;
                                    }
                                } 
                            }
                            &:hover {
                                background: $off-white;
                                border-color: $hover-blue;
                            }
                        }
                    }
                }
                aside.content-supplementary {
                    @media screen and (min-width: 769px) {
                        width: 300px;
                    }
                    @media screen and (max-width: 768px) {
                        width: calc(100% - 3em);
                        margin: 1.5em;
                        float: none;
                        @media screen and (max-width: 450px) {
                            width: 100%;
                            margin: 1.5em 0 0;
                        }
                    }
                    #invoices {
                        border: 1px solid rgb(178,178,178);
                        border-radius: 3px;
                        padding: 12px;
                        background: white;
                        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                        .title {
                            font-weight: 300;
                            @media screen and (max-width: 450px) {
                                text-align: center;
                            }
                        }
                        h2.title {
                            font-size: 1.3em; 
                        }
                        h3.title {
                            font-size: 1em;
                        }
                        div.enstructor {
                            margin: 5px -12px;
                            border-bottom: 1px solid $border-gray;
                            padding: 5px 12px;
                            div.year {
                                margin: 10px 0 7.5px;
                                button.year-btn {
                                    display: block;
                                    margin-bottom: 5px;
                                    clear: right;
                                }
                                div.year-breakdown {
                                    div.month {
                                        display: inline-block;
                                        width: 44.2%;
                                        margin: 2.5px 2.5%;
                                        button.month-btn {
                                            width: 100%;
                                            margin-bottom: 5px;
                                        }
                                        table.month-breakdown {
                                            width: calc(100% - 4px);
                                            margin: -6px auto 0;
                                            border: 1px solid $hover-blue;
                                            th {
                                                padding: 3px;
                                                text-align: left;
                                            }
                                            td {
                                                text-align: center;
                                                color: green;
                                            }
                                            tr:last-of-type {
                                                border-top: 1px solid $hover-blue;
                                                td {
                                                    font-weight: bold;
                                                }
                                            }
                                        }
                                        @media screen and (min-width: 451px) and (max-width: 768px) {
                                            margin: 2.5px 1.5%;
                                        }
                                        @media screen and (min-width: 601px) and (max-width: 768px) {
                                            width: 21%;
                                        }
                                        @media screen and (min-width: 451px) and (max-width: 600px) {
                                            width: 29%
                                        }
                                    } 
                                }
                                &:not(:last-child) {
                                    border-bottom: 1px dotted $border-gray;
                                    padding-bottom: 5px;
                                }
                                &:first-of-type {
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
                span.note {
                    margin: 2px -6px;
                    display: inline-block;
                    font-size: 65%;
                    line-height: 1.7em;
                    color: rgb(76,76,76);
                    .fa {
                        font-size: 90%;
                        color: $hover-blue;
                    }
                    &:last-of-type {
                        margin-bottom: -2px
                    }
                    @media screen and (max-width: 450px) {
                        text-align: center;
                    }
                }
            }
        }
    }
}

//////////////////////////////////////////////


//Settings Overrides
#content {
    .wrapper-content {
        #settings_details {
            .group-settings.basic {
                .action.action-primary {
                    @include btn($full...);
                }
            }
            .group-settings.marketing {
                li.field {
                    margin-bottom: 20px;
                    textarea {
                        resize: vertical;
                    }
                    div.CodeMirror {
                        @media screen and (min-height: 768px) {
                            height: 1010px;
                        } 
                    }
                    span.wrapper-course-image {
                        height: auto;
                        img {
                            height: auto;
                            width: 100%;
                            object-fit: scale-down;
                        }
                    }
                    #upload-course-image {
                        @include btn($inv...);
                    }
                }
            }
        }
    }
}

//////////////////////////////////////////////


//Course Content Overrides
#main {
    #content {
        section.content-area {
            article.content-primary {
                article.xblock-render {
                    div.xblock-student_view-html {
                        h3 {
                            font-size: 1.6em !important;
                            font-weight: 300 !important;
                        }
                        h4 {
                            margin: 0 0 10px 0 !important;
                            font-size: 1.4em !important;
                        }
                        h5 {
                            margin: 0 0 10px 0 !important;
                            font-size: 1.2em !important;
                        }
                        h6 {
                            margin: 0 0 10px 0 !important;
                            font-size: 1em !important;
                        }
                        p, pre {
                            margin: 0.83em 0 !important;
                        }
                        .embed-container {
                            width: 100%;
                            height: 100%;
                            position: relative;
                        }
                        .embed-object {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                    div.xblock-author_view {
                        .new-component {
                            button[data-type='discussion'] {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

//////////////////////////////////////////////

//Course Outline Overrides
body.view-outline,
body.view-container {
    li.nav-item {
        margin-right: 5px;
        .button:not(.button-new) {
            @include btn($full...);
        }
    }
}
body.view-outline {
    #main {
        header.mast.has-actions {
            h1.page-header {
                width: 260px;
            }
            nav.nav-actions {
                width: calc(100% - 260px - 2.12766%);
                .button.button-new {
                    padding: 7px 10px;
                }
            }
        }
        section.content {
            min-width: 320px;
            .button {
                @include btn($inv...);
            }
            article.content-primary {
                li.action-item {
                    a:not(.delete-button):hover {
                        border-color: $hover-blue;
                        background: $hover-blue;
                    }
                    a.delete-button:hover {
                        border-color: #EE0000;
                        background: #EE0000;
                    }
                }
                li.outline-item {
                    @media screen and (max-width: 1000px) {
                        .subsection-header-actions .actions-list {
                            margin-right: 0;
                        }
                        .unit-header {
                            .unit-header-details {
                                width: 65%;
                            }
                            .unit-header-actions {
                                width: 35%;
                            }
                        }
                    }
                }
            }
        }
    }
}
body.view-container {
    article.content-primary {
        .header-actions {
            .actions-list {
                 li.action-item {
                    button:not(.delete-button):hover {
                        border-color: $hover-blue;
                        background: $hover-blue;
                    }
                    button.delete-button:hover {
                        border-color: #EE0000;
                        background: #EE0000;
                    }
                }
            }
        }
    }
    aside.content-supplementary {
        .action-publish {
            @include btn($full...);
        }
    }
}

//////////////////////////////////////////////

//File Upload Overrides
body.view-uploads {
    @media screen and (max-width: 1000px) {
        #main {
            #root {
                div.container {
                    max-width: 100% !important;
                    margin: auto;
                    div[data-identifier="asset-filters"] {
                        .form-group {
                            text-align: center;
                            .form-check {
                                display: inline-block;
                                margin-right: 2rem;
                                padding: 0 2rem;
                                &:not(:last-child) {
                                    border-right: 1px solid $border-gray;
                                }
                            }
                        }
                    }
                    #table-contents {
                        font-size: 85%;
                        -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                        max-width: calc(100% - 30px);
                        margin: auto;
                        th {
                            padding: 1rem;
                            .btn-header {
                                width: 100%;
                                text-align: center;
                            }
                        }
                        td {
                            padding: 1rem 0.25rem;
                            img {
                                width: 100%;
                                object-fit: scale-down;
                            }
                        }
                        button {
                            padding: 5px 7px !important;
                            font-size: 85%;
                            &.copy-button {
                                margin: 0 8px 8px 0!important;
                            }
                        }
                    }
                }
            }
        }
    }
}

//////////////////////////////////////////////

//Schedule & Details Overrides
body.schedule {
    #main {
        .wrapper-content {
            .content-primary {
                width: 100%;
                max-width: 950px;
                margin: auto;
            }
        }
    }
}

//////////////////////////////////////////////

//Certificates Overrides
body.view-certificates {
    #content {
        header.has-actions {
            .page-header {
                max-width: 200px;
            }
            div.preview-certificate {
                width: auto !important;
                .button {
                    @include btn($slim...);
                }
                @media screen and (max-width: 700px) {
                    width: 100% !important;
                    bottom: 0;
                    margin: 10px 0;
                    text-align: center;
                }
            }
        }
    }
}

//////////////////////////////////////////////
