<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from six import text_type
import re
import numpy
import math
import csv
%>

<%
# populate variables
filestore = "/ratings/dump/aggregates.csv"
aggregate = False
star_string = False
cpe_string = False
org = re.sub(r'(?<=[a-z])(?=[A-Z])', ' ', course.display_org_with_default)

# pull aggregates/icon strings from stored file
with open(filestore) as csv_file:
    readCSV = csv.reader(csv_file, delimiter='\t')
    try:
        for row in readCSV:
            if not (row):
                continue
            elif row[0] != course.display_number_with_default:
                pass
            else:
                try:
                    aggregate = row[1]
                    star_string = row[2]
                except:
                    pass
    except:
        pass

if user.is_staff:
    restriction = False
else:
    restriction = course.invitation_only

if course.advertised_start:
    org = course.advertised_start
elif course.display_org_with_default == "Enstructo":
    org = "Enstructo Team" 
elif course.display_org_with_default == "edX":
    org = "edX"

if course.effort and course.effort != "0.0":
    cpe_mod = " CPE Hours" if int(course.effort) > 1 else " CPE Hour"
    cpe_string = course.effort+cpe_mod

%>

<%page args="course" expression_filter="h"/>
<article class="course" id="${course.id}" role="region" aria-label="${course.display_name_with_default}">
  <a href="${reverse('about_course', args=[text_type(course.id)])}">
    <header class="course-image">
      <div class="cover-image">
        <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}" />
        <div class="learn-more" aria-hidden="true">${_("LEARN MORE")}</div>
      </div>
    </header>
    <div class="course-info" aria-hidden="true">
      <h2 class="course-name">
        <span class="course-organization">${org}</span>
        <span class="course-title">${course.display_name_with_default}</span>
        % if restriction:
          <span class="course-organization"><strong>Course Access Restricted</strong><br/>contact info@enstructo for an invitation</span>
        % elif cpe_string:
          <span id="cpe" class="course-organization">${cpe_string}</span>
        % else:
          <span class="course-organization" style="height:16.28px;"></span>
        % endif
        % if aggregate and not restriction:
        <span id="rating" class="course-organization">${star_string | n}</span>
        % endif
      </h2>
    </div>
    <div class="sr">
      <ul>
        <li>${org}</li>
        <li>${course.display_name_with_default}</li>
        % if restriction:
          <li>Course Access Restricted, contact info@enstructo.com for enrollment invitation</li>
        % else:
          % if cpe_string:
            <li>${cpe_string}</li>
          % endif
          % if aggregate:
            <li>${aggregate} Stars</li>
          % else:
            <li>No Course Rating</li>
          % endif
        % endif
      </ul>
    </div>
  </a>
</article>
<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
